services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - database:/var/lib/mysql
    networks:
      - all
    restart: on-failure
    env_file:
      - .env
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - all
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - mariadb
    
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    volumes:
      - wordpress:/var/www/html
    ports:
      - "443:443"
    networks:
      - all
    restart: on-failure
    depends_on:
      - wordpress

volumes:
  database:
  wordpress:

networks:
  all:
    driver: bridge
