services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - database:/var/lib/mysql
    networks:
      - all
    restart: on-failure
    env_file:
      - .env

volumes:
  database:

networks:
  all:
    driver: bridge
