services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - database:/var/lib/mysql
    networks:
      - all
    restart: on-failure
    env_file:
      - .env
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - all
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - mariadb

volumes:
  database:
  wordpress:

networks:
  all:
    driver: bridge
